{% extends 'pdfSite/base.html' %}

{% block content %}
<div class="container">
    <h1>Conversor de Arquivos para PDF</h1>
    <form action="{% url 'converter' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="arquivo">
            Selecione um arquivo (tipos aceitos: .txt, .md, .docx, .odt, .html, .png, .jpg, .jpeg, .webp, .bmp):
        </label><br><br>
        <input type="file" name="arquivo" id="arquivo"
                accept=".txt,.md,.docx,.odt,.html,.png,.jpg,.jpeg,.webp,.bmp" required><br><br>
        <button type="submit">Converter</button>
    </form>
</div>
<div class="creditos">

<figure>
        
        <br>
        <a href="http://www.google.com" target="_blank"><img src="https://moodle.feliz.ifrs.edu.br/pluginfile.php/134617/user/icon/adaptable/f1?rev=1198613"></a>
        <a href="http://www.google.com" target="_blank"><img src="https://moodle.feliz.ifrs.edu.br/pluginfile.php/133743/user/icon/adaptable/f1?rev=1999141"></a>
    </figure>

</div>
{% endblock %}